.schedule-banner {
    object-fit: cover;
    float: left;
    height: 600px;
    width: 100%;
    max-width: 1700px;
    border-radius: 10px;
    margin: 5px auto 2rem;
    filter: blur(3px);
    border: solid  white;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 340px;
    align-items: center;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    max-width: 1700px;
    padding: 16px;
    background-color: white;
    margin: auto;
    border: none;
    background: #f1f1f1;
    border-radius: 10px;
    width: 60%;
    max-width: 350px;
    transform: translate(-50%, 50%);

}

label {
    margin: 5px auto;
    font-size: 1.3rem;
    width: 100%;
}

input {
    float: right;
    padding: .3rem;
    margin-left: auto;
    margin-right: 0;
}

.btn {
background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  max-width: 300px;
  width: 80%;
  opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}

@media (max-width:  720px) {
    .container {
        top: 410px;
    }
}