body {
    background-color: #DAD7CD;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner {
    background-image: url("/App/Assets/jewelry-banner.jpeg");
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}

article {
   width: 100%; 
}

main {
    width: 90%;
    margin: 0 auto;
}

/* h1 {

} */

h2 {
    font-size: 1.5rem;
    color: #F08700;
} 

Header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    border-radius: 12px;
    background-color: #F45B69
}

nav ul {
    list-style: none;
    text-align: center;

    height: 4vh;
}

nav li {
    display: inline-block;
    height:px; 
    width:50px; 
    margin-right: 5%; 
} 

nav ul li a {
    display: block;
    margin-top: 15%;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 680;
}

nav ul li a:hover{
    color: #586A6A;
}

section {
    display: flex;
}

article {
    flex: 1;
    border-radius: 12px;
    padding: 15px
}

.small-cards {
    background-color: #ffffff;
    border-radius: 10, 100;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1%;
    border-radius: 25px 1px 25px 1px;
    margin: 5px;
}

.small-cards:hover {
    box-shadow:
        0 1px 1px hs1(0deg 0% 0% / 0.075)
        0 2px 2px hs1(0deg 0% 0% / 0.075)
        0 4px 4px hs1(0deg 0% 0% / 0.075)
        0 8px 8px hs1(0deg 0% 0% / 0.075)
        0 16px 16px hs1(0deg 0% 0% / 0.075)
    transition: 0.5s ease;
}

.small-cards > img {
    border-radius: 25px 1 px 25 px 1px;
}

table {
    font-family:Arial, Helvetica, sans-serif;
    border-collapse: collapse;
        width: 50%;
    border: 1px solid #ffffff;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
}

footer div {
    flex: 1;
    padding: 10px;
}

footer div p {
    text-align: right;
}