html {
    font-size: 10px;
    height: 100vh;
}

body {
    background-color: #FEFEFF;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.banner {
    background-image: url("./App/Assets/Banner.png");
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner h1 {
    width: 95%;
    font-size: 4rem;
    margin: 0 auto;
    text-shadow: 1px 1px 40px black;
}

.banner p {
    width: 95%;
    font-size: 1.8rem;
    margin: 0 auto;
    text-shadow: 2px 2px 40px black;
}

main {
    width: 90%;
    margin: 0 auto;
    display: block;
    max-width: 1700px;
}

header {
    max-width: 1700px;
    margin: 0 auto;
}
 

h2 {
    font-size: 1.5rem;
    color: #0D090A;
} 

Header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    border-radius: 12px;
    background-color: #006980;
    width: 90%;
    margin: 2rem auto;
    max-width: 1700px;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    justify-content: center;
    flex-wrap: nowrap;

}

nav li {
    padding: 0 1rem;
} 

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 100;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
}

nav ul li a:hover{
    text-decoration: underline;
}

.card-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%; 
}

section:last-of-type {
    margin-bottom: 100px;
}

.card {
    background-color: #F9F1DC;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1%;
    border-radius: 25px;
    color: #0D090A;
    width: 100%;
    min-height: 72rem;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
}

.card a > img {
    border-radius: 25px;
    float: left;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-col h2 {
    text-align: center;
    font-size: 3.4rem;
    font-weight: 200;
    font-style: italic;
    font-family: "Yeseva One", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 85px;
    position: relative;
    top: 35px;
}

.card p {
    font-size: 1.8rem;
    width: 92%;
    margin: 1rem auto;
}

.card-col {
    width: 32%;
    transition: 500ms;
}

.card-col:hover {
    transform: translateY(-5%);
}

table {
    font-family:Arial, Helvetica, sans-serif;
    border-collapse: collapse;
        width: 85%;
    margin: 0 auto;
    font-size: 1.8rem;
}

td {
    text-align: center;
}

footer {
    align-items: center;
    background-color: #8B939C;
    width: 100%;
    margin: 0;
    bottom: 0;
    padding-top: 4rem;
    padding-bottom: 3rem;
    margin-top: auto;
}

.footer-container {
    display: flex;
    margin: 0 auto;
    max-width: 1700px;
    justify-content: space-between;
    padding: 0 20rem;
}

