html {
    font-size: 10px;
    height: 100vh;
}

body {
    background-color: #FEFEFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
}

.banner {
    background-image: url("./App/Assets/jewelry-banner.jpeg");
    background-size: cover;
    height: 200px;
    width: 100%;
    border-radius: 10px;
}


main {
    width: 90%;
    margin: 0 auto;
    display: block;
    max-width: 1700px;

}

header {
    max-width: 1700px;
    margin: 0 auto;
}

h1 {

} 

h2 {
    font-size: 1.5rem;
    color: #0D090A;
} 

Header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    border-radius: 12px;
    background-color: #91171F;
    width: 90%;
    margin: 2rem auto;
    max-width: 1700px;
}

nav ul {
    list-style: none;
    display: flex;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    justify-content: center;
    flex-wrap: nowrap;

}

nav li {

} 

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 680;
}

nav ul li a:hover{
    color: #586A6A;
}

.card-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%; 
}

.card {
    background-color: #F4E4BA;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 1%;
    border-radius: 25px;
    color: #0D090A;
    width: 100%;
}

.card:hover {
    box-shadow:
        0 1px 1px hs1(0deg 0% 0% / 0.075)
        0 2px 2px hs1(0deg 0% 0% / 0.075)
        0 4px 4px hs1(0deg 0% 0% / 0.075)
        0 8px 8px hs1(0deg 0% 0% / 0.075)
        0 16px 16px hs1(0deg 0% 0% / 0.075);
    transition: 0.5s ease;
}

.card > img {
    border-radius: 25px;
    float: left;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-col {
    width: 32%;
}

table {
    font-family:Arial, Helvetica, sans-serif;
    border-collapse: collapse;
        width: 50%;
    border: 1px solid #ffffff;
    text-align: center;
}

footer {
    align-items: center;
    background-color: #8B939C;
    width: 100vw;
    margin: 0;
    bottom: 0;
    padding-top: 4rem;
    padding-bottom: 3rem;
    margin-top: auto;
    
}

.footer-container {
    display: flex;
    margin: 0 auto;
    max-width: 1700px;
    justify-content: space-between;
    padding: 0 20rem;

}

