.about-img {
    background-image: url("../Assets/about-banner\ img.png");
}

li {
    list-style: none;
}

hr {
    width: 45rem;
}

ul {
    margin: 0 auto;
    padding: 0;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 2rem;
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.icons {
    height: 35px;
    margin: 0 1rem;
    position: relative;
    top: 6px;
}

table {
    font-family:Arial, Helvetica, sans-serif;
    border-collapse: collapse;
        width: 85%;
    margin: 0 auto;
    font-size: 1.8rem;
}

td {
    text-align: center;
}